
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.categories-list-toggler {
    width: 100%;
    text-align: left;
}

.categories-list {
    width: 100%;
}

.categories-list-toggler span {
    color: #000;
    font-size: 1.8rem;
    vertical-align: middle;
}

.custom-control-lg .custom-control-label::before,
.custom-control-lg .custom-control-label::after {
    top: -0.1rem !important;
    left: -2rem !important;
    width: 1.7rem !important;
    height: 1.7rem !important;
}

.custom-control-lg .custom-control-label {
    margin-left: 0.5rem !important;
    font-size: 1rem !important;
}

.todo-list .list-group-item {
    padding: 0 1.25rem 0 0;
}

.todo-checkbox {
    padding: 0.75rem 0 0.75rem 1.25rem;
}

.todo-checkbox:hover {
    cursor: default;
}

.todo-item-form {
    padding: 0.75rem 0 0 1.25rem;
}

#completedTasksToggler {
    color: #000 !important;
    background-color: #d7f3e3 !important;
    border-color: #c7eed8 !important;
}
